$background:#ffffff;
$cubes: #e9eae5;
$cubebackground: #faf9f9;
$herobackground:#f5f3f3;
$text:#181717;
$smalltext:#5c5c5c;
$navunderline:#a28182;
$gallerytext:#8d6f70;
$title:#785e5f;
$buttonhover:#d9d3d3;
$boxshadow:#cbcbcb;
$whatsapp:#455a65;
$whatsapphover:#4f6673;
