@mixin tablet {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin between {
    @media (min-width: 1000px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin mobile {
    @media (min-width: 500px) {
        @content;
    }
}