@use '../../styles/colors';
@use '../../styles/global';
@use '../../styles/mixins';
@use '../../styles/fonts';

.Nav{
    background-color: colors.$cubebackground;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: colors.$title;
    height: 100vh;
    width: 100%;
}

.logo{
    max-height: 40%;
}